<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sweetspot.client" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SweetSpotMain"
            android:label="SweetSpot"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--         // ADDED this activity for DropBox Functionality -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- Our APP KEY is located after the db- in this line -->
                <data android:scheme="db-fd2ss18720tu0ds" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddServerActivity"
            android:label="@string/title_activity_server_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SweetSpotPlayer"
            android:label="Player"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DropboxFileDisplay"
            android:label="@string/title_activity_dropbox_file_display" >
        </activity>
    </application>

</manifest>
